connexion[swagger-ui] >= 2.6.0; python_version>="3.6"
werkzeug == 0.16.1; python_version=="3.5" or python_version=="3.4"
swagger-ui-bundle >= 0.0.2
typing >= 3.5.2.2
setuptools >= 21.0.0
markdown >= 3.3
